@import url('https://fonts.googleapis.com/css2?family=Varela+Round&amp;display=swap');
h1,
h2,
h4,
h3,
h5,
h6,
.h1_big,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.nft_pic_title {
    font-family: "Varela Round";
    font-weight: bold;
}

.line-h{
  line-height: 1.2em;
}

